{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'libs/material.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/mdl-selectfield.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/app.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{% static 'libs/jquery.min.js' %}"></script>
    <script src="{% static 'libs/material.min.js' %}"></script>
    <script src="{% static 'libs/mdl-selectfield.min.js' %}"></script>
    <script src="{% static 'assets/app.js' %}"></script>

</head>
<body class="page">
<div class="main">
    <div class="header"></div>


    <div class="services">
        <form action="/add/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="services__controls">
                <div class="services__select mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                    <select class="mdl-selectfield__select" id="service" name="service">
                        <option value=""></option>
                        {% for service in services %}
                            <option value="{{ service.service_id }}">{{ service.name }}</option>
                            {{ service.name }}
                        {% endfor %}
                    </select>
                    <label class="mdl-selectfield__label" for="service">Сервис</label>
                </div>
                <div class="services__image">
                    'Файл не выбран'
                </div>
                <div class="services__buttons">
                    <label for="loadfile" class="services__load mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                        Выбрать файл
                    </label>
                    <input type="file" name="icon" id="loadfile" class="services__load-input">
                </div>
                <div class="services__settings">
                    <div class="services__checks">
                        Какие-то настройки
                    </div>
                    <button class="services__upload mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Загрузить
                    </button>
                </div>

            </div>
            <div class="services__container">
                <label class="services__svg-switcher mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                    <input type="checkbox" id="switch-1" class="mdl-switch__input"  checked>
                    <span class="mdl-switch__label">Поддержка svg</span>
                </label>
                <div class="services__items">
                    {% for service in services %}
                        <div class="services__item service service_type_{{ service.service_id }}" data-service="{{ service.service_id }}">
                            <div class="service__icon-wrapper">
                                <div class="service__icon b-ico-{{ service.service_id }}"></div>
                            </div>
                            <div class="service__info">
                                <div class="service__name">{{ service.name }}</div>
                                <div class="service__desc">{{ service.desc }}</div>
                            </div>
                        </div>
                        <div class="services__item service_size_small service service_type_{{ service.service_id }}" data-service="{{ service.service_id }}">
                            <div class="service__icon-wrapper">
                                <div class="service__icon b-ico-{{ service.service_id }}_small"></div>
                            </div>
                            <div class="service__info">
                                <div class="service__name">{{ service.name }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>
    <div class="git">
        <form action="/commit/" method="post" class="git__form">
            {% csrf_token %}
            <div class="git__modified">
                Измененные файлы
            </div>

            <div class="git__status">
            </div>

            <div class="git__buttons">
                <button class="git__checkout mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    Сбросить
                </button>
                <button class="git__commit mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Коммит
                </button>
            </div>
        </form>
    </div>

    <div class="popup mdl-dialog">
        <h4 class="mdl-dialog__title">Ошибка</h4>
        <div class="mdl-dialog__content">
            <p>
                 Не верный формат. Изображение не загрузилось.
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="popup__close mdl-button">Ok</button>
        </div>
    </div>
</div>


{#    {{ services }}#}
{##}
{#    {% if services %}#}
{#        <ul>#}
{#            {% for service in services %}#}
{#                <li>#}
{#                    {{ service.name }}<br>#}
{#                    {{ service.desc }}<br>#}
{#                    {% for zone in service.zones.all %}#}
{#                        {{ zone }}<br>#}
{#                    {% endfor %}#}
{#                    #}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}



</body>
</html>




















