{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <h1>Параметры</h1>
    {{ params }}

    <h2>Файлы</h2>
    <img src="{% static imgSrc %}">

    <h2>Сервисы</h2>
    {% for service in services %}
        {{ service }}
    {% endfor %}

    <h2>Юзерагент</h2>
    {{ useragent }}
</body>
</html>

Acer Aspire One D270

Процессор - Atom N2600 1600 МГц
Память - 2 Гб DDR3
Экран - 10.1 дюймов, 1024x600
Объем накопителя (HDD) - 320 Гб

Windows 7 Starter (наклейка с ключом на задней части).

Продаем, потому что совсем не пользуемся (вообще пользовались редко).